C:\Users\Dell\Documents\DataTalks.Club\Assignments\DataTalks_Assignment\postgresdata

C:\Users\Dell\Documents\DataTalks.Club\Assignments\DataTalks_Assignment\Terraform\.terraform

C:\Users\Dell\Documents\DataTalks.Club\Assignments\DataTalks_Assignment\.ipynb_checkpoints